<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csu.mapper.OlcFeaturesIncreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.csu.pojo.OlcFeaturesIncre">
        <id column="id" property="id" />
        <result column="feature_id" property="featureId" />
        <result column="user_id" property="userId" />
        <result column="feature_name" property="featureName" />
        <result column="update_time" property="updateTime" />
        <result column="geom" property="geom" />
        <result column="ai_precison" property="aiPrecison" />
        <result column="version" property="version" />
        <result column="tag" property="tag" />
        <result column="change_type" property="changeType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, feature_id, user_id, feature_name, update_time, geom, ai_precison, version, tag, change_type
    </sql>

    <!-- 查询增量和基态是否相交 -->
    <select id="checkPolygonIntersect" resultType="String">
        SELECT ST_INTERSECTS(
            (SELECT GEOM FROM OLC_FEATURES_BASE WHERE ID = #{baseId}),
            (SELECT GEOM FROM OLC_FEATURES_INCRE WHERE ID = #{increId}));
    </select>
</mapper>